@implements IResultProps

<div id="status">

    <h3>@Today</h3>

    <diV>
        Hunger: @Stats.Hunger
    </diV>

    <diV>
        Thirst: @Stats.Thirst
    </diV>

</div>
 
@code
{
    public record StatsModel(int Hunger, int Thirst);

    [Parameter, EditorRequired] public DateTime Today { get; set; }

    [Parameter, EditorRequired] public StatsModel Stats { get; set; }
}