@implements IRazorProps
@implements IMapEndpoints
@layout Layout

<h3>This space intentionally left blank</h3>

@code
{
    public static void MapEndpoints(IEndpointRouteBuilder app)
    {
        app.MapGet("/empty", async (IServiceProvider services) =>
        {
            var html = await Empty.RenderAsync(services);
            return Empty.Result();            
        });
    }
}