@inherits BlazorBlade<Status.StatusModel>

<div id="status">
    <style>
        #status {
            color: green;
        }
    </style>
    <div>
        @Model.Today - Hunger: @Model.Hunger - Thirst: @Model.Thirst - Income: @Model.MessageFragment
    </div>
</div>
 
@code
{
    public record StatusModel(DateTime Today, int Hunger, int Thirst, RenderFragment MessageFragment);

    // Override enables EditorRequired functionality
    [Parameter, EditorRequired] 
    public override required StatusModel Model { get; set; }
}